<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Joe Sturm</title>
  </head>
  <body>
    <div class="header-wrapper">
      <header class="container">
        <a href="#">&lt;&mdash; More</a>
        <div class="pub-date">Jan 2025</div>
        <a href="#">sjoe.page</a>
      </header>
    </div>

    <main class="container">
      <article>
        <h1>Some Kinda Title</h1>

        <h2>Section #1</h2>

        <p>
          Here is a bunch of text to see what different fonts, font sizes, and line heights look like on the page. We're
          gonna add a bunch of words here for no reason other than making the paragraph wrap on the screen.
        </p>

        <p>
          Here is a bunch of text to see what different fonts, font sizes, and line heights look like on the page. We're
          gonna add a bunch of words here for no reason other than making the paragraph wrap on the screen.
        </p>

        <h2>Section #2</h2>

        <p>
          Here is a bunch of text to see what different fonts, font sizes, and line heights look like on the page. We're
          gonna add a bunch of words here for no reason other than making the paragraph wrap on the screen.
        </p>

        <h2>Section #3</h2>

        <p>
          Here is a bunch of text to see what different fonts, font sizes, and line heights look like on the page. We're
          gonna add a bunch of words here for no reason other than making the paragraph wrap on the screen.
        </p>

        <p>
          Here is a bunch of text to see what different fonts, font sizes, and line heights look like on the page. We're
          gonna add a bunch of words here for no reason other than making the paragraph wrap on the screen.
        </p>
      </article>
    </main>
  </body>
</html>

<style is:global>
  :root {
    --header-font: "Jost", system-ui, sans-serif;
    --body-font: "Prompt", system-ui, sans-serif;

    /* --step--2: clamp(0.7813rem, 0.7932rem + -0.0154vw, 0.7901rem);
    --step--1: clamp(0.8889rem, 0.872rem + 0.0845vw, 0.9375rem); */
    --step-0: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
    /* --step-1: clamp(1.125rem, 1.0467rem + 0.3913vw, 1.35rem);
    --step-2: clamp(1.2656rem, 1.1424rem + 0.6163vw, 1.62rem);
    --step-3: clamp(1.4238rem, 1.2429rem + 0.9046vw, 1.944rem); */
    --step-4: clamp(1.6018rem, 1.3475rem + 1.2713vw, 2.3328rem);
    --step-5: clamp(1.802rem, 1.4551rem + 1.7345vw, 2.7994rem);

    /* --space-3xs: clamp(0.25rem, 0.2283rem + 0.1087vw, 0.3125rem);
    --space-2xs: clamp(0.5rem, 0.4783rem + 0.1087vw, 0.5625rem);
    --space-xs: clamp(0.75rem, 0.7065rem + 0.2174vw, 0.875rem); */
    --space-s: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
    --space-m: clamp(1.5rem, 1.4348rem + 0.3261vw, 1.6875rem);
    --space-l: clamp(2rem, 1.913rem + 0.4348vw, 2.25rem);
    /* --space-xl: clamp(3rem, 2.8696rem + 0.6522vw, 3.375rem);
    --space-2xl: clamp(4rem, 3.8261rem + 0.8696vw, 4.5rem);
    --space-3xl: clamp(6rem, 5.7391rem + 1.3043vw, 6.75rem); */
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  a {
    color: unset;
    text-decoration: unset;
    display: block;
    width: fit-content;
  }

  body {
    font-family: var(--body-font);
  }

  .header-wrapper {
    margin-bottom: var(--space-l);
    background-color: black;
    color: #facc15;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    font-weight: 500;
  }

  header a {
    text-decoration: underline;
  }

  .pub-date {
    font-style: italic;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--header-font);
    font-size: 1rem;
    font-weight: 400;
    text-wrap: balance;
  }

  h1 {
    margin-bottom: var(--space-l);
    font-size: var(--step-5);
    font-style: italic;
    font-weight: 900;
    line-height: 1.25;
  }

  h2 {
    margin-top: var(--space-l);
    margin-bottom: var(--space-m);
    font-size: var(--step-4);
    font-weight: 700;
    line-height: 1.25;
  }

  p {
    margin-bottom: var(--space-s);
    font-size: var(--step-0);
    line-height: 1.5;
    color: #333;
  }

  .container {
    padding: 0 var(--space-s);
    margin: 0 auto;
    max-width: 720px;
  }
</style>
