<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Joe Sturm</title>
  </head>
  <body class="bg-gray-50 pb-8">
    <div class="mb-10 bg-gray-900 py-2">
      <div class="__box__ flex items-baseline justify-between">
        <a
          class="font-medium text-amber-400 underline"
          href="#">
          &lt;- More
        </a>

        <div class="__box__ font-medium text-gray-200">January 2025</div>

        <a
          class="font-medium text-amber-400 underline"
          href="#">
          sjoe.page
        </a>
      </div>
    </div>

    <header class="__box__ mb-8">
      <h1
        class="font-display w-3/4 text-balance text-4xl font-black leading-[120%] text-gray-900 sm:text-5xl sm:leading-[120%]">
        The Hidden Cost of Cheap
      </h1>
    </header>

    <main class="__box__">
      <article class="__post__">
        <h2>Section #1</h2>

        <p>
          Here is a bunch of text to see what different fonts, font sizes, and line heights look like on the page. We're
          gonna add a bunch of words here for no reason other than making the paragraph wrap on the screen.
        </p>

        <div
          class="font-mono -mx-4 mt-6 overflow-x-auto text-nowrap bg-gray-200 px-4 py-4 text-sm font-bold sm:mx-0 sm:px-4">
          <div>public class Main &lbrace;</div>
          <div>&nbsp;&nbsp;&nbsp;&nbsp;public static void main(final String... args) &lbrace;</div>
          <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;System.out.println("Hey");</div>
          <div>&nbsp;&nbsp;&nbsp;&nbsp;&rbrace;</div>
          <div>&rbrace;</div>
        </div>

        <p>
          Here is a bunch of text to see what different fonts, font sizes, and line heights look like on the page. We're
          gonna add a bunch of words here for no reason other than making the paragraph wrap on the screen.
        </p>

        <h2>Section #2</h2>

        <p>
          Here is a bunch of text to see what different fonts, font sizes, and line heights look like on the page. We're
          gonna add a bunch of words here for no reason other than making the paragraph wrap on the screen.
        </p>
      </article>
    </main>
  </body>
</html>

<style>
  .__post__ > h2 {
    @apply font-display mt-8 text-2xl font-bold leading-[128%] text-gray-900 sm:text-3xl sm:leading-[128%];
  }

  p {
    @apply text-gray-700 sm:text-lg;
  }

  .__box__ {
    @apply mx-auto max-w-2xl px-4 sm:px-8;
  }

  .__post__ > p {
    @apply mt-6;
  }
</style>
